<h3>List of all played matches</h3>
<hr />

<div class="matches-list">
  <ng-template #noMatches><h3>No matches found.</h3></ng-template>
  <mat-action-list
    *ngIf="matches$ | async as matches; else noMatches"
    role="list"
  >
    <button
      mat-list-item
      *ngFor="let match of matches"
      routerLink="{{ match.name }}"
    >
      {{ match.name }}
    </button>
  </mat-action-list>
</div>

<div class="add-new-match">
  <button mat-raised-button color="primary" routerLink="/addMatch">
    Add new match
  </button>
</div>
