<h3>Overview of player {{ player.firstName + " " + player.lastName }}</h3>
<hr />
<div class="player-details">
  <mat-list role="list">
    <mat-list-item
      >Name: {{ player.firstName + " " + player.lastName }}</mat-list-item
    >
    <mat-list-item>Player ID: {{ player.id }}</mat-list-item>
    <mat-list-item> Scores won in the game: </mat-list-item>
    <div class="sets" style="padding-left: 45px">
      <h5 *ngFor="let set of player.scores?.sets; index as i">
        set{{ i }}: {{ set }}
      </h5>
    </div>
    <mat-list-item>Wins in the game: {{ player.wins }}</mat-list-item>
  </mat-list>
</div>
