<form [formGroup]="playerForm" (ngSubmit)="onSubmit()">
<mat-form-field appearance="fill">
  <mat-label>First Name</mat-label>
  <input
    matInput
    type="text"
    id="firstName"
    formControlName="firstName"
    required
    placeholder="Enter first name of the player"
  />
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Last Name</mat-label>
  <input
    matInput
    type="text"
    id="lastName"
    formControlName="lastName"
    required
    placeholder="Enter last name of the player"
  />
</mat-form-field>

  <button
  color="primary"
    mat-raised-button
    type="submit"
    [disabled]="!playerForm.valid"
  >
    Save
  </button>
  <button mat-raised-button type="button" color="warn" (click)="navigateToList()">
    Cancel
  </button>

</form>