#scores input {
    width: 100px;
    margin-right: 5px;
    margin-left: 10px;
}

.sets {
    display:flex; 
    padding-bottom: 5px;
}

.row {
    padding-left: 15px;
    margin-top: 15px;
}

input {
    width: 300px;
}

button {
    margin-top: 20px;
    margin-right: 5px;
}