<form [formGroup]="matchesForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input
      matInput
      type="text"
      id="name"
      formControlName="name"
      required
      placeholder="Enter name of the match"
    />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>First Player</mat-label>
    <input type="text"
           placeholder="Pick a player"
           matInput
           formControlName="firstPlayer"
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let player of players$ | async | playerToFullName"  [value]="player">
        {{ player }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Second Player</mat-label>
    <input type="text"
           placeholder="Pick a player"
           formControlName="secondPlayer"
           matInput
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let player of players$ | async | playerToFullName"  [value]="player">
        {{ player }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <button
  color="primary"
    mat-raised-button
    type="submit"
    [disabled]="!matchesForm.valid"
  >
    Save
  </button>
  <button mat-raised-button type="button" color="warn" (click)="navigateToList()">
    Cancel
  </button>

</form>







